.ant-layout {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  background: var(--white) !important;
}

.ant-layout-content {
  background-color: var(--white);
}

h1.ant-typography {
  margin-top: 10px;
  text-align: center;
}
